Repository Disploy/disploy, pull requests merged in 2022-11, with the labels that each got.

#30 feat(docs): guides
  apps/docs/docs/Dictionary/disploy-framework.md
  apps/docs/docs/Guide/getting-started/installing.md
  apps/docs/docs/Guide/getting-started/introduction.md
  apps/docs/docs/Guide/learning-the-workflow/_category_.json
  apps/docs/docs/Guide/learning-the-workflow/creating-commands.md
  apps/docs/docs/Guide/learning-the-workflow/deploying.md
  apps/docs/docs/Guide/learning-the-workflow/dev-mode.md
  apps/docs/docs/Guide/learning-the-workflow/syncing.md
  apps/docs/docs/Guide/prep-work/_category_.json
  apps/docs/docs/Guide/prep-work/creating-a-new-project.md
  apps/docs/docs/Guide/prep-work/installing-node-and-disploy.md
Labels: documentation

#33 fix(framework): extend Base
  packages/framework/src/structs/Base.ts
  packages/framework/src/structs/ChatInputInteraction.ts
  packages/framework/src/structs/GuildMember.ts
  packages/framework/src/structs/PartialGuildMember.ts
  packages/framework/src/structs/User.ts
  packages/framework/src/structs/UserInteraction.ts
Labels: packages:framework, structures

#36 fix(docs): install with volta
  apps/docs/docs/Guide/prep-work/installing-node-and-disploy.md
Labels: documentation, apps:docs

#40 fix(docs): warn on broken links
  apps/docs/docusaurus.config.js
Labels: apps:docs

#42 fix(framework): non-nullable user
  packages/framework/src/structs/GuildMember.ts
Labels: packages:framework, structures

#43 spelling mistakes
  README.md
Labels: typo

#44 fix(framework): consistently use Routes.*
  packages/framework/src/client/App.ts
  packages/framework/src/structs/Channel.ts
Labels: packages:framework, refactor

#48 chore: env.example
  .env.example
Labels: enhancement, internal:dx

#55 docs(meta): update description
  apps/docs/src/pages/index.tsx
Labels: enhancement, apps:docs

#57 refactor(cli): .env resolving
  packages/disploy/cli/src/commands/common/build.ts
  packages/disploy/cli/src/commands/dev.ts
  packages/disploy/cli/src/commands/sync.ts
  packages/disploy/cli/src/disploy.ts
  packages/disploy/cli/src/lib/ProjectTools.ts
Labels: cli

#59 fix(cli): remove fetch warnings
  packages/disploy/cli/src/disploy.ts
Labels: bug, cli

#60 fix(cli): flow order
  packages/disploy/cli/src/disploy.ts
Labels: bug, cli

#53 feat(structs): Modal
  apps/example/src/commands/modal.ts
  packages/disploy/src/commands/Command.ts
  packages/disploy/src/structs/ActionRow.ts
  packages/disploy/src/structs/ActionRowComponent.ts
  packages/disploy/src/structs/CommandInteraction.ts
  packages/disploy/src/structs/Modal.ts
  packages/disploy/src/structs/ModalActionRowComponent.ts
  packages/disploy/src/structs/ModalSubmitComponent.ts
  packages/disploy/src/structs/ModalSubmitInteraction.ts
  packages/disploy/src/structs/TextInputComponent.ts
  packages/disploy/src/structs/index.ts
Labels: packages:disploy, structures

#62 feat(docs): framework-less guide
  apps/docs/docs/Reference/framework-less/creating-commands.md
  apps/docs/docs/Reference/framework-less/creating-main-file.mdx
  apps/docs/docs/Reference/framework-less/deploying-commands.md
  apps/docs/docs/Reference/framework-less/index.md
  apps/docs/docs/Reference/framework-less/prep-work.mdx
  apps/docs/docs/Reference/framework-less/starting.mdx
Labels: documentation, apps:docs

#54 feat(*): benchmarks
  .github/workflows/benchmark.yml
  apps/example/package.json
  package.json
  packages/disploy/cli/src/commands/test-server.ts
  packages/disploy/cli/src/disploy.ts
  packages/disploy/cli/src/lib/EnvTools.ts
  packages/disploy/cli/src/lib/ProjectTools.ts
  packages/disploy/cli/src/lib/devServer/index.ts
  packages/disploy/src/client/App.ts
  packages/disploy/src/router/Router.ts
  packages/disploy/src/utils/Verify.ts
  packages/disploy/src/utils/VerifyCFW.ts
  packages/disploy/src/utils/VerifyNode.ts
  scripts/benchmark.mjs
  yarn.lock
Labels: enhancement, cli, packages:disploy

#35 feat(framework): guilds & channels
  apps/example/package.json
  apps/example/src/commands/channel.ts
  apps/example/src/commands/hey.ts
  apps/example/src/commands/me.ts
  apps/example/src/commands/member.ts
  packages/disploy/src/client/App.ts
  packages/disploy/src/index.ts
  packages/disploy/src/structs/BaseChannel.ts
  packages/disploy/src/structs/BaseInteraction.ts
  packages/disploy/src/structs/Guild.ts
  packages/disploy/src/structs/GuildBan.ts
  packages/disploy/src/structs/GuildTextChannel.ts
  packages/disploy/src/structs/GuildVoiceChannel.ts
  packages/disploy/src/structs/ToBeFetched.ts
  packages/disploy/src/structs/managers/ChannelManager.ts
  packages/disploy/src/structs/managers/index.ts
  packages/disploy/src/types/DiscordChannel.ts
  packages/disploy/src/types/index.ts
Labels: packages:disploy, structures

#66 feat(cli): watcher
  apps/example/disploy.json
  packages/disploy/cli/src/commands/common/build.ts
  packages/disploy/cli/src/commands/dev.ts
  packages/disploy/cli/src/disploy.ts
  packages/disploy/cli/src/lib/disployConf/index.ts
  packages/disploy/cli/src/lib/shell.ts
Labels: enhancement, cli

#67 feat(structs): TBF id
  packages/disploy/src/client/App.ts
  packages/disploy/src/structs/BaseInteraction.ts
  packages/disploy/src/structs/Guild.ts
  packages/disploy/src/structs/ToBeFetched.ts
Labels: enhancement, packages:disploy, structures
