Repository Disploy/disploy, pull requests merged in 2022-12, with the labels that each got.

#72 feat(*): @disploy/ws
  .gitignore
  apps/example/README.md
  apps/example/package.json
  apps/example/src/commands/ping.ts
  apps/example/src/commands/voice-test.ts
  apps/example/src/events/message-ping.ts
  apps/example/src/index.ts
  apps/example/src/types/EventHandler.ts
  apps/example/tsconfig.json
  apps/example/tsup.config.js
  apps/framework-example/README.md
  packages/disploy/package.json
  packages/disploy/src/client/Rest.ts
  packages/disploy/src/structs/PartialGuildMember.ts
  packages/disploy/src/structs/index.ts
  packages/disploy/tsup.config.js
  packages/ws/.cliff-jumperrc.json
  packages/ws/CHANGELOG.md
  packages/ws/README.md
  packages/ws/cliff.toml
  packages/ws/package.json
  packages/ws/src/Gateway.ts
  packages/ws/src/events/ChannelCreate.ts
  packages/ws/src/events/ChannelDelete.ts
  packages/ws/src/events/GuildCreate.ts
  packages/ws/src/events/GuildDelete.ts
  packages/ws/src/events/GuildMemberAdd.ts
  packages/ws/src/events/GuildMemberRemove.ts
  packages/ws/src/events/MessageCreate.ts
  packages/ws/src/events/_loader.ts
  packages/ws/src/index.ts
  packages/ws/src/types.ts
  packages/ws/tsconfig.json
  packages/ws/tsup.config.js
  yarn.lock
Labels: enhancement

#73 refactor(docs): update & flow easier
  apps/docs/docs/.gitignore
  apps/docs/docs/Documentation/_category_.json
  apps/docs/docs/Guide/getting-started/_category_.json
  apps/docs/docs/Guide/getting-started/introduction.md
  apps/docs/docs/Reference/framework-less/index.md
  apps/docs/docs/getting-started/cli-framework/_category_.json
  apps/docs/docs/getting-started/cli-framework/learning-the-workflow/_category_.json
  apps/docs/docs/getting-started/cli-framework/learning-the-workflow/creating-commands.md
  apps/docs/docs/getting-started/cli-framework/learning-the-workflow/deploying.md
  apps/docs/docs/getting-started/cli-framework/learning-the-workflow/dev-mode.md
  apps/docs/docs/getting-started/cli-framework/learning-the-workflow/syncing.md
  apps/docs/docs/getting-started/cli-framework/prep-work/_category_.json
  apps/docs/docs/getting-started/cli-framework/prep-work/creating-a-new-project.md
  apps/docs/docs/getting-started/cli-framework/prep-work/installing-node-and-disploy.md
  apps/docs/docs/getting-started/framework-less/creating-commands.md
  apps/docs/docs/getting-started/framework-less/creating-main-file.mdx
  apps/docs/docs/getting-started/framework-less/deploying-commands.md
  apps/docs/docs/getting-started/framework-less/index.md
  apps/docs/docs/getting-started/framework-less/prep-work.mdx
  apps/docs/docs/getting-started/framework-less/starting.mdx
  apps/docs/docs/getting-started/index.md
  apps/docs/docs/introduction.md
  apps/docs/docusaurus.config.js
  apps/docs/package.json
  apps/docs/src/components/HomepageFeatures/index.tsx
  apps/docs/src/components/HomepageFeatures/styles.module.css
  apps/docs/src/css/custom.css
  apps/docs/src/pages/index.tsx
  apps/docs/tailwind.config.js
  yarn.lock
Labels: documentation, apps:docs, refactor

#79 chore(README): fix test ci badge
  packages/disploy/README.md
Labels: bug, packages:disploy, typo

#87 feat(disploy): env
  apps/framework-example/src/commands/env.ts
  packages/disploy/cli/assets/code/cfWorkerEntry.js
  packages/disploy/src/client/App.ts
  packages/disploy/src/client/AppOptions.ts
Labels: enhancement, cli, packages:disploy

#77 chore(docs): Remove warning
  apps/docs/docs/getting-started/cli-framework/prep-work/creating-a-new-project.md
Labels: documentation

#92 feat(GuildTextChannel): send message
  packages/disploy/src/structs/GuildTextChannel.ts
Labels: packages:disploy, structures
